:root {
--arizonia                  : 'Arizonia', sans-serif;
--inconsolata               : 'Inconsolata', sans-serif;
--indie_flower              : 'Indie Flower', sans-serif;
--lato                      : 'Lato', sans-serif;
--lobster                   : 'Lobster', sans-serif;
--lobster_two               : 'Lobster Two', sans-serif;
--merriweather              : 'Merriweather', sans-serif;
--merriweather_sans         : 'Merriweather Sans', sans-serif;
--montserrat                : 'Montserrat', sans-serif;
--oleo_script               : 'Oleo Script', sans-serif;
--opensans                  : 'Open Sans', sans-serif;
--oswald                    : 'Oswald', sans-serif;
--poppins                   : 'Poppins', sans-serif;
--raleway                   : 'Raleway', sans-serif;
--roboto                    : 'Roboto', sans-serif;
--roboto_condensed          : 'Roboto Condensed', sans-serif;
--tangerine                 : 'Tangerine', sans-serif;
}
.productiveminds_section.review_ratings .productiveminds_section-header-container-review-page {
    height: auto;
}
.productiveminds_section.review_ratings .productiveminds_section-header-container-review-page .section-title,
.productiveminds_section.review_ratings .productiveminds_section-header-container-review-page .section-intro,
.productiveminds_section.review_ratings .productiveminds_section-header-container-review-page .review-header-back-to-product-link {
    width: 100%;
}
.productive-breadcrumb-container,
.productive-breadcrumb-container a {
    font-size: 0.88rem;
}
.productiveminds_section.product-category .productiveminds-standard-content-container .productiveminds_section-container-column-content-body,
.productiveminds_section.logo-slider .productiveminds-standard-content-container .productiveminds_section-container-column-content-body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    display: grid;
    gap: 0;
    row-gap: 0;
    column-gap: 0;
    place-items: normal;
    place-content: normal;
    grid-template-columns: repeat(1, 1fr);
}
.productiveminds_section.product-category .productiveminds_section-single-item,
.productiveminds_section.logo-slider .productiveminds_section-single-item {
    gap: 0;
    row-gap: 0;
    column-gap: 0;
    position: relative;
}
.productiveminds_section.product-category .productiveminds-slider-content-container .productiveminds_section-single-item,
.productiveminds_section.logo-slider .productiveminds-slider-content-container .productiveminds_section-single-item {
    height: 100%;
}
.productiveminds_section.product-category .productiveminds_section-single-item .single-item-title,
.productiveminds_section.logo-slider .productiveminds_section-single-item .single-item-title {
    position: relative;
}
.productiveminds_section.product-category .productiveminds_section-single-item .single-item-title a.single-item-title-link,
.productiveminds_section.logo-slider .productiveminds_section-single-item .single-item-title a.single-item-title-link {
    display: block;
}
.productiveminds_section.product-category .productiveminds_section-single-item .single-item-title,
.productiveminds_section.logo-slider .productiveminds_section-single-item .single-item-title {
    font-size: var(--fs-s);
    text-align: center;
    padding: var(--margin_or_padding_spacing_xxxxs);
}
.productiveminds_section.product-category .productiveminds_section-single-item .single-item-title a,
.productiveminds_section.logo-slider .productiveminds_section-single-item .single-item-title a {
    font-size: var(--fs-s);
    text-align: center;
}
.productiveminds_section.product-category.content_on_top_media_fit_content .productiveminds_section-single-item-text,
.productiveminds_section.logo-slider.content_on_top_media_fit_content .productiveminds_section-single-item-text {
    position: absolute;
    align-items: center;
    align-content: center;
}
.productiveminds_section.team.content_on_top_media_full_cover .productiveminds_section-single-item-text,
.productiveminds_section.team.content_on_top_media_fit_content .productiveminds_section-single-item-text {
    height: fit-content;
    position: absolute;
    bottom: 0 !important;
    background: var(--dom-minus-assigned);
}
.shapeable-content-box-default .productiveminds_section.team.content_on_top_media_full_cover .productiveminds_section-single-item-text,
.shapeable-content-box-default .productiveminds_section.team.content_on_top_media_fit_content .productiveminds_section-single-item-text {
    padding: var(--margin_or_padding_spacing_xxs);
}
.productiveminds_section.team.content_on_top_media_full_cover .productiveminds_section-single-item-text .single-item-desc,
.productiveminds_section.team.content_on_top_media_fit_content .productiveminds_section-single-item-text .single-item-desc {
    display: none;
    opacity: 0;
    transition: all 0.4s;
    transition-delay: 0.4s;
    overflow-x: hidden;
    scrollbar-width: thin;
}
.productiveminds_section.team .productiveminds_section-container.list_grided .productiveminds_section-single-item {
    column-gap: 10px;
}
.productiveminds_section.team.content_on_top_media_full_cover.is_show_the_content .swiper-slide:hover .productiveminds_section-single-item-text,
.productiveminds_section.team.content_on_top_media_full_cover.is_show_the_content .productiveminds_section-container-column:hover .productiveminds_section-single-item-text {
    height: 100%;
}
.productiveminds_section.team.content_on_top_media_full_cover .swiper-slide:hover .productiveminds_section-single-item-text .single-item-desc,
.productiveminds_section.team.content_on_top_media_full_cover .productiveminds_section-container-column:hover .productiveminds_section-single-item-text .single-item-desc,
.productiveminds_section.team.content_on_top_media_fit_content .swiper-slide:hover .productiveminds_section-single-item-text .single-item-desc,
.productiveminds_section.team.content_on_top_media_fit_content .productiveminds_section-container-column:hover .productiveminds_section-single-item-text .single-item-desc {
    display: block;
    opacity: 1;
}
.productiveminds_section.team.content_on_top_media_full_cover .productiveminds_section-single-item-text,
.productiveminds_section.team.content_on_top_media_fit_content .productiveminds_section-single-item-text {
    align-items: flex-end;
    align-content: flex-end;
    opacity: 0.95;
}
.productiveminds_section.team .productiveminds_section-single-item .person-name {
    font-weight: var(--fontWeight_500);
}
.productiveminds_section.team .productiveminds_section-single-item .person-company-position-url {
    font-size: var(--fs-xs);
}
.productiveminds_section.team .productiveminds_section-single-item .person-social-media {
    margin-top: var(--margin_or_padding_spacing_xxxxxs);
}
.productiveminds_section.blog-author-profile.content_on_top_media_full_cover .productiveminds_section-single-item-text,
.productiveminds_section.blog-author-profile.content_on_top_media_fit_content .productiveminds_section-single-item-text {
    height: fit-content;
    position: absolute;
    bottom: 0 !important;
    background: var(--dom-minus-assigned);
}
.shapeable-content-box-default .productiveminds_section.blog-author-profile.content_on_top_media_full_cover .productiveminds_section-single-item-text,
.shapeable-content-box-default .productiveminds_section.blog-author-profile.content_on_top_media_fit_content .productiveminds_section-single-item-text {
    padding: var(--margin_or_padding_spacing_xxs);
}
.productiveminds_section.blog-author-profile.content_on_top_media_full_cover .productiveminds_section-single-item-text .single-item-desc,
.productiveminds_section.blog-author-profile.content_on_top_media_fit_content .productiveminds_section-single-item-text .single-item-desc {
    display: none;
    opacity: 0;
    transition: all 0.4s;
    transition-delay: 0.4s;
    overflow-x: hidden;
    scrollbar-width: thin;
}
.productiveminds_section.blog-author-profile .productiveminds_section-container.list_grided .productiveminds_section-single-item {
    column-gap: 10px;
}
.productiveminds_section.blog-author-profile.content_on_top_media_full_cover.is_show_the_content .swiper-slide:hover .productiveminds_section-single-item-text,
.productiveminds_section.blog-author-profile.content_on_top_media_full_cover.is_show_the_content .productiveminds_section-container-column:hover .productiveminds_section-single-item-text {
    height: 100%;
}
.productiveminds_section.blog-author-profile.content_on_top_media_full_cover .swiper-slide:hover .productiveminds_section-single-item-text .single-item-desc,
.productiveminds_section.blog-author-profile.content_on_top_media_full_cover .productiveminds_section-container-column:hover .productiveminds_section-single-item-text .single-item-desc,
.productiveminds_section.blog-author-profile.content_on_top_media_fit_content .swiper-slide:hover .productiveminds_section-single-item-text .single-item-desc,
.productiveminds_section.blog-author-profile.content_on_top_media_fit_content .productiveminds_section-container-column:hover .productiveminds_section-single-item-text .single-item-desc {
    display: block;
    opacity: 1;
}
.productiveminds_section.blog-author-profile.content_on_top_media_full_cover .productiveminds_section-single-item-text,
.productiveminds_section.blog-author-profile.content_on_top_media_fit_content .productiveminds_section-single-item-text {
    align-items: flex-end;
    align-content: flex-end;
    opacity: 0.95;
}
.productiveminds_section.blog-author-profile .productiveminds_section-single-item .person-name {
    font-weight: var(--fontWeight_500);
}
.productiveminds_section.blog-author-profile .productiveminds_section-single-item .person-company-position-url {
    font-size: var(--fs-xs);
}
.productiveminds_section.blog-author-profile .productiveminds_section-single-item .person-social-media {
    margin-top: var(--margin_or_padding_spacing_xxxxxs);
}
.productiveminds_section.testimonial .productiveminds_section-single-item {
    row-gap: var(--margin_or_padding_spacing_xxs);
}
.productiveminds_section.testimonial .productiveminds_section-single-item-text {
    row-gap: 5px;
}
.productiveminds_section.testimonial .productiveminds_section-single-item-text .single-item-title {
    font-size: var(--fs-normal);
    font-weight: var(--fontWeight_500);
}
.productiveminds_section.testimonial .productiveminds_section-single-item .person-name {
    font-weight: var(--fontWeight_500);
}
.productiveminds_section.testimonial .productiveminds_section-single-item .person-company-position-url {
    font-size: var(--fs-xs);
}

/* banner slider */
.productiveminds_banner_container.banner-slider {
    height: auto;
    margin-bottom: 0;
}
.productiveminds_banner_container.banner-slider.main_banner .productiveminds_banner_container_content {
    padding: var(--margin_or_padding_spacing_xs);
    border-radius: var(--margin_or_padding_spacing_xxxs);
}
.productiveminds_banner_container.banner-slider .justify-items-center {
    text-align: center;
}
.productiveminds_banner_container.banner-slider .productiveminds_banner_container_content {
    margin: var(--margin_or_padding_spacing_xs);
}
aside .productiveminds_banner_container.banner-slider .productiveminds_banner_container_content {
    margin: 0;
}
@media (max-width: 768px) {
    .productiveminds_banner_container.banner-slider .productiveminds-alignable-container_uno {
        max-width: 92vw;
    }
    .productiveminds_banner_container.banner-slider .productiveminds_banner_container_content {
        padding: var(--margin_or_padding_spacing_xxxxs);
    }
    .productiveminds_banner_container.banner-slider.main_banner .productiveminds_banner_container_content {
        margin: var(--margin_or_padding_spacing_xxxxs);
    }
}
.productiveminds_banner_container.banner-slider .productiveminds-alignable-container_uno-wrapper {
    margin: auto;
    width: 100%;
    max-width: var(--siteMaxWidth);
}
.productiveminds_section .productiveminds_section-container.list .productive-blog-element-cat-and-read-time,
.productiveminds_section .productiveminds_section-container.list_grided .productive-blog-element-cat-and-read-time {
    justify-content: flex-start;
}
.homepage-element .productiveminds_section-single-item-media i {
    color: var(--accent-1);
}
.homepage-element .productiveminds_section-single-item-text .single-item-title {
    line-height: var(--lh-small);
}
.homepage-element .productiveminds_section-single-item-text .single-item-desc {
    font-size: var(--fs-xs);
}

.homepage-element .productiveminds_section-container {
    row-gap: 40px;
    column-gap: 40px;
}
.homepage-element.type-3 .productiveminds_section-container-column {
    padding: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: var(--box-shadow_25);
}
.homepage-element.type-3 .productiveminds_section-single-item-text .single-item-title {
    line-height: var(--lh-standard);
}
.homepage-element.type-3 .productiveminds_section-single-item-text .single-item-desc {
    font-size: var(--fs-s);
}
.homepage-element.type-3 .productiveminds_section-single-item .productiveminds_section-single-item-text .single-item-title {
    font-size: var(--fs-h5);
}

.homepage-element.type-1 .productiveminds_section-single-item-media i {
    padding: var(--margin_or_padding_spacing_xxs) 0 0 var(--margin_or_padding_spacing_xxs);
}
.shapeable-content-box-default .homepage-element.type-1 .productiveminds_section-single-item-media i {
    padding: var(--margin_or_padding_spacing_xxs) 0 0 0;
}
.shapeable-content-whole-box-ellipsed-with-bg .homepage-element.type-1 .productiveminds_section-single-item-media i,
.shapeable-content-whole-box-ellipsed-with-border .homepage-element.type-1 .productiveminds_section-single-item-media i {
    padding: var(--margin_or_padding_spacing_xs) 0 0 var(--margin_or_padding_spacing_xs);
}

.homepage-element.type-2 .productiveminds_section-single-item-media i {
    padding: var(--margin_or_padding_spacing_xxs) var(--margin_or_padding_spacing_xxs) 0;
}
.shapeable-content-box-default .homepage-element.type-2 .productiveminds_section-single-item-media i {
    padding: 0;
}
.shapeable-content-box-default .homepage-element.type-2 .productiveminds_section-single-item-text {
    padding: 0;
}
.shapeable-content-whole-box-ellipsed-with-bg .homepage-element.type-2 .productiveminds_section-single-item-media i,
.shapeable-content-whole-box-ellipsed-with-border .homepage-element.type-2 .productiveminds_section-single-item-media i {
    padding: var(--margin_or_padding_spacing_xs) var(--margin_or_padding_spacing_xs) 0;
}

.homepage-element.type-3 .productiveminds_section-single-item-text {
    padding: var(--margin_or_padding_spacing_xs) var(--margin_or_padding_spacing_xs) var(--margin_or_padding_spacing_s);
    background: transparent;
}
@media (max-width: 768px) {
    .homepage-element.type-3 .productiveminds_section-single-item-text {
        padding: var(--margin_or_padding_spacing_xs) var(--margin_or_padding_spacing_xxs) var(--margin_or_padding_spacing_xxs);
    }
}

/* productive-style popup */
[data-enter-exit-transition-style] .productive_popup-overlay {
    opacity: 0;
    transition: all 0.4s;
}
[data-enter-exit-transition-style].show-productive_popup .productive_popup-overlay {
    opacity: 1;
    transition-delay: 0.1s;
}
[data-enter-exit-transition-style="slideFromBottom"] .productive_popup-overlay {
    transform: translateY(100%);
}
[data-enter-exit-transition-style="slideFromTop"] .productive_popup-overlay {
    transform: translateY(-100%);
}
[data-enter-exit-transition-style="slideFromLeft"] .productive_popup-overlay {
    transform: translateX(-100%);
}
[data-enter-exit-transition-style="slideFromRight"] .productive_popup-overlay {
    transform: translateX(100%);
}
[data-enter-exit-transition-style="slideFromBottom"].show-productive_popup .productive_popup-overlay,
[data-enter-exit-transition-style="slideFromTop"].show-productive_popup .productive_popup-overlay,
[data-enter-exit-transition-style="slideFromLeft"].show-productive_popup .productive_popup-overlay,
[data-enter-exit-transition-style="slideFromRight"].show-productive_popup .productive_popup-overlay {
    transform: none;
}
.style {
    margin-right: 0;
}
